# .gitignore

# Compiled binaries
bin/
obj/

# Development configuration
appsettings.Development.json

# Application configuration
appsettings.json

.vs/
.idea/

**/.DS_Store
**/Folder.DotSettings.user
