# .gitignore

# Compiled binaries
bin/
obj/

# Generated migration files
Migrations/

# Development configuration
appsettings.Development.json

# Application configuration
appsettings.json
