@model IEnumerable<BlendMaster.Entities.Table>

@{
    ViewBag.Title = "Select Table";
}

<link rel="stylesheet" href="~/css/styles.css">

<!-- Hero Image -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="~/images/hero.jpg" class="img-fluid" alt="Hero Image">
        </div>
    </div>
</div>

<!-- Carousel -->
<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Select Table</h2>
            <form asp-action="SelectTable" method="post">
                <div>
                    <label for="tableId">Table:</label>
                    <select id="tableId" name="tableId">
                        @foreach (var table in Model)
                        {
                            <option value="@table.TableId">@table.TableName</option>
                        }
                    </select>
                </div>
                <br />
                <div>
                    <button type="submit">Select</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<br />
<br />