@model TestViewModel

@{
    ViewData["Title"] = "Chat";
}

<h1>Chat with GPT</h1>


<form asp-controller="Test" asp-action="Index">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Input</label>
        <textarea asp-for="Req" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p class="text-body">@Model.Res</p>
